body{
	margin:0 auto;
	padding:0px;
	font-size:16px;
	color:#909090;
	background:url(../image/mainBac.png) repeat;
}
a{
	color:black;
	text-decoration:none;
	color:#4D4D4D;
}
a:hover{
	cursor:pointer;
	text-decoration:none;
}
span{
	line-height:2.5;
}
.clearfloat{
	clear:both;
}
.content{
	border: 0px solid #F0F0F0;
    margin: 0 auto;
    width: 960px;
	overflow:visible;
}
.header{
	font-family: Microsoft Yahei;
	color:#474f53;
	font-size:18px;
	margin:0 auto;
	padding:0px;
	height:100px;
	overflow:visible;	
	background:url(../image/headbac.png);
}
.footer{
	margin:0 auto;
	padding:0px;
	height:120px;
	background:url(../image/footerBac.png);
}
.main{
	margin:0 auto;
	padding:0px;
	background:url(../image/mainBac.png) repeat;
}
#header_logo{
	margin:25px auto 0;
	padding:0px;
	float:left;
}
#header_nav{
	margin:36px auto 0 20px;
	padding:0px;
	float:left;
}
#header_nav ul{
	margin:0 auto;
	padding:0px;
	list-style:none;
}
#header_nav ul li{
	padding-left:60px;
	float:left;
}
#header_nav ul li a{
	text-decoration:none;
	font-size:16px;
	color:#696969;
}
#header_nav ul li a:hover{
	text-decoration:none;
	color:#ea5404;
}
#footer_nav{
	margin:40px auto 0 283px;
	padding:0px;
	float:left;
	font-family: Microsoft Yahei;
	display:inline;
}
#footer_nav ul{
	margin:0 auto;
	padding:0px;
	list-style:none;
}
#footer_nav ul li{
	padding-left:25px;
	float:left;
}
#footer_nav ul li a{
	text-decoration:none;
	font-size:14px;
	color:#696969;
}
#footer_nav ul li a:hover{
	text-decoration:none;
	color:#ea5404;
}